html,body
{
    width: 100%;
    height: 100%;

}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-x: hidden;
}


.v-align {
    display: table-cell;
    position: relative;
    top: 600px;
    left: 300px;
}

.v-align2 {
    position: relative;
    top: 110px;
    left: 95px;

}


/* Custom Button Styles */


.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: #0099FF;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */




/* Header */

.img1 {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(img/stacktitle.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Img 3 */



.loginbtnpadding{

	padding-top: 155px;
	padding-left: 1210px;

}

.textformat {
	text-align: left;

}

/* About */

.whitespace {
    padding: 15px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.img2 {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(img/botimg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.placement {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
}




/* Footer */

footer {

    padding: 40px 0;
}








